body,html,.row-offcanvas {
	height:100%;
}

#sidebar {
	width: inherit;
	min-width: 220px;
	max-width: 220px;
	background-color:#f5f5f5;
	float: left;
	height:100%;
	position:relative;
	overflow-y:auto;
	overflow-x:hidden;
}

#main {
	height:100%;
	overflow:auto;
}